/* VARIABLES */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline-style: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  margin: 0 auto;
  font-family: 'roboto', 'Helvetica Neue', helvetica, arial, sans-serif;
}

/* ==========================================================================
   Header styles
   ========================================================================== */
.header-wrapper {
  position: fixed;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 16px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

header {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

header svg {
  float: left;
  height: 32px;
  width: 32px;
}

header button.hamburger {
  float: right;
  color: #333;
  padding: 0;
  display: block;
}
@media (min-width: 400px) {
  header button.hamburger {
    display: none;
  }
}

header nav {
  clear: both;
  float: none;
  padding-top: 25px;
  line-height: 50px;
  height: auto;
}
@media (min-width: 400px) {
  header nav {
    clear: none;
    display: block;
    float: right;
    height: 32px;
    padding-top: 0;
  }
}

nav.nav-hidden {
  display: none;
}
@media (min-width: 400px) {
  nav.nav-hidden {
    display: block;
  }
}

header nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 400px) {
  header nav ul li {
    float: left;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

header nav ul li a {
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
@media (min-width: 400px) {
  header nav ul li a {
    margin-left: 20px;
  }
}

/* ==========================================================================
   Main styles
   ========================================================================== */
main {
  clear: both;
  max-width: 1024px;
  margin: auto;
  color: #333;
}

div#content {
  padding-top: 76px;
  /* to compensate for the fixed header */
  height: 100%;
}
@media (min-width: 800px) {
  div#content {
    padding-top: 0;
  }
}

/* ==========================================================================
   Section Styles
   ========================================================================== */
section {
  max-width: 640px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
@media (min-width: 800px) {
  section {
    position: relative;
    padding-bottom: 0;
    max-width: 1024px;
    height: 500px;
    height: 100vh;
    border-bottom: 0px;
  }
  section:after {
    content: "";
    display: table;
    clear: both;
  }
}

.text-wrapper {
  width: 96%;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .text-wrapper {
    width: 90%;
  }
}
@media (min-width: 800px) {
  .text-wrapper {
    width: 450px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
    padding-left: 20px;
  }
}

section h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
}
@media (min-width: 800px) {
  section h2 {
    font-size: 40px;
  }
}

section p {
  text-align: justify;
  font-size: 15px;
  margin-bottom: 15px;
}
@media (min-width: 500px) {
  section p {
    text-align: left;
    font-size: 16px;
  }
}
@media (min-width: 800px) {
  section p {
    font-size: 18px;
  }
}

a.btn {
  display: block;
  margin: 38px 0;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  border-radius: 50px;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

a.btn i {
  margin-top: 10px;
  margin-left: 14px;
}

a.btn:hover {
  background-color: #333;
  color: #fff;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

a.btn:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

a.btn:focus {
  outline: none;
}

section#intro h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
}
@media (min-width: 800px) {
  section#intro h2 {
    text-align: left;
    font-size: 50px;
  }
}

section#intro h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
}
@media (min-width: 800px) {
  section#intro h3 {
    text-align: left;
    font-size: 22px;
  }
}

/* ==========================================================================
   Image Showcase Styles
   ========================================================================== */
.showcase {
  width: 100%;
  height: 300px;
  height: 60vh;
  margin-bottom: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover cover;
          background-size: cover;
}
@media (min-width: 800px) {
  .showcase {
    left: 470px;
    width: 554px;
    width: calc(100% - 450px - 20px);
    height: 101%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    margin-bottom: 0;
  }
}

/* ==========================================================================
   Specific Diagram Styles
   ========================================================================== */
.showcase.board {
  -webkit-background-size: contain contain;
          background-size: contain;
  background-image: url(../img/rpisoc_board.jpg);
}
@media (min-width: 800px) {
  .showcase.board {
    height: 80%;
    -webkit-transform: translateY(-50%) translateY(30px);
        -ms-transform: translateY(-50%) translateY(30px);
            transform: translateY(-50%) translateY(30px);
  }
}
@media (min-width: 800px) and (min-height: 800px) {
  .showcase.board {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 65%;
  }
}

.showcase.usb {
  background-image: url(http://placehold.it/480x640/eeeeee);
}

.showcase.rpi {
  background-image: url(http://placehold.it/480x640/dddddd);
}

.showcase.pmod {
  background-image: url(http://placehold.it/480x640/cccccc);
}

.showcase.psoc {
  background-image: url(http://placehold.it/480x640/bbbbbb);
}

.showcase.gpio {
  background-image: url(http://placehold.it/480x640/aaaaaa);
}

/* ==========================================================================
   Headroom.js Styles
   ========================================================================== */
.headroom {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
      transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
      transform: translateY(-100%);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
